*{
    box-sizing: border-box;
}
/* BODY */
body{
    font-family:Verdana;
    font-size: 12px;
    margin: 0px;
    background-image: url(./img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    font-family: Arial;
    font-size: 22px;
    margin: 0px;
}

h3 {
    font-family: Arial;
    font-size: 20px;
}
.container{
    width: 950px;
    margin: 0 auto 0 auto;
}
/* HEADER */
header{
    background-image: url(./img/Top-bar.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 53px;
    text-align: center;
    color: rgb(72, 87, 102);
    margin-top: -15px;
    margin-bottom: 33px;    
}
.header-left{
    float: left;
    padding-top: 20px;
    font-size: 11px;
}
.header-left a{
    text-decoration: none;
    color: rgb(106, 135, 163);
    margin: 5px;
}
.header-right {
    padding: 0;
    float: right;
}
.header-right .search{
    float: right;
}
.search-field{
    border-radius: 10px;
    width: 194px;
    height: 30px;
    background-color: #121314;
    border: 1px solid #1f2223;
    color: #38444f;
    margin-top: 10px;
}
.search-button{
    width: 25px;
    height: 24px;
    background-image: url(./img/icon/Icon-Top/search-icon.png);
    border: 0;
    position: relative;
    top: 8px;
    right: 40px;
}
.header-right .socialnetwork{
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}
.header-right a{
    padding: 2px;
    margin-left:10 ;
}
.section{
    padding: 0px 0px 55px 0px;
    text-align: center;
}
.logo{
    float: left;
    position: relative;
    overflow: hidden;
    text-indent: -999999px;
    display: block;
    width: 272px;
    height: 60px;
    background: url(./img/Logo.png) no-repeat;
}
.navbar{
    float: right;
}
.nav-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.nav-list li{
    display: inline;
}
.nav-list li a{
    display: inline-block;
}
.navbar a{
    color: rgb(122, 128, 144);
    text-decoration: none;
    font-weight: bold;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 18px;
}
.navbar a:hover{
    background-color: rgba(22, 25, 32, 0.476);
    color: white;
}
/* Row */
.row-bg{
    background-image: url(./img/Row-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 950px;
    margin: 0 auto 0 auto;
    padding: 20px;
    margin-bottom: 21px;
    margin-top: 33px;
}
.row{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

/* Content */
.content{
    flex: 70%;
    padding:0px 20px 42px;
}
.content h2{
    border-bottom: 1px dashed #84a1af;
    color: #4d5467;
    padding: 23px 22px 7px 38px;
    background: url(./img/icon/images/1.png) no-repeat scroll 0px 23px ;
}
.content .img{
    border: 1px solid #ced1da;
    background-color: #eef0f5;
    margin: 20px 0px; 
}

.img img{
    padding: 4px;
    height: 100%;
    width: 100%;
}

.content blockquote{
    border: 1px solid #ced1da;
    background-color: #eef0f5;
    color: #788093;
    padding: 21px 0px 21px 22px;
    margin: 0px;
}
/* Side Bar */
.side-bar{
    flex: 30%;
    background-color: rgb(238, 240, 245);
}

.side-bar-inside{
    margin: 0px;
}
.browser-header{
    background: url(./img/icon/side/1.png) no-repeat scroll 13px 14px;
}
.side-bar h3{
    color: white;
    background-color: #9097a9;
    padding: 17px 24px 16px 50px;
    margin: 0px;
}

.browser{
    width: 223px;
    height: 82px;
    margin: 20px 24px 18px;
}
.web-browser p{
    text-align: justify;
    padding: 0px 23px 22px 23px;
    margin: 0px;
}
.navi-header{
    background: url(./img/icon/side/2.png) no-repeat scroll 13px 14px;
}
.side-bar .navigation a{
    display: block;
    color: #747c93;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}
.navigation ul{
    list-style: none;
    margin: 0px;
    padding: 10px;
}

.navigation li{
    display: block;
    background-image:url(./img/icon/side/Arrow_02.png);
    background-repeat: no-repeat;
    width: 1004;
    margin-bottom: 2px;
}
.side-bar .navigation li:hover{
    background-image: url(./img/icon/side/Arrow_01.png);
    width: 100%;

}
.side-bar .navigation a:hover{
    color: #444d68;
}
.cate-header{
    background: url(./img/icon/side/3.png)no-repeat scroll 13px 14px;
}
.table-1{
    padding:15px 20px;
}
.table-1 tr{
    height: 25px;
}
.table-1 th{
    color: #747c93;
    text-align: left;
    width: 100%;
}
.table-1 td{
    color: #444d68;
    text-align: right;
}
.blog-header{
    background: url(./img/icon/side/4.png) no-repeat scroll 13px 14px;
}
.table-2 {
    padding: 15px 20px;
}
.table-2 tr{
    height: 25px;
}
.table-2 th{
    color: #747c93;
    text-align: left;
    width: 100%;
}
.table-2 td{
    color: #444d68;
    text-align: right;
}
.social-header{
    background: url(./img/icon/side/5.png) no-repeat scroll 13px 14px;
}
.network-list{
    list-style: none;
    margin: 0px;
    padding: 20px 16px 40px;
}
.network-list li{
    display: inline-block;
}
.network-list li a {
    display: inline-block;
}
.icons{
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
@media all and (min-width: 1200px){
    .row {

    }
}
@media all and (min-width: 992px) and (max-width: 1199px){

}
/* Footer-section */
.footer-bg{
    background-color: #0f131f;
}
.footer-section{
    overflow: hidden;
    height: 100%;
}
.footer-section__inside{
    margin: 0px;
    border-bottom: 1px solid;
    padding: 35px 0px 32px;
}
.footer-section h3{
    color: #737a8f;
    margin: 0px;
    padding-bottom: 17px;
}
.footer-section a{
    color: #606574;
    text-decoration: none;
    padding: 5px;
}
.footer-section span{
    color: #9da4b8;
}
.footer-section--left{
    float: left;
}
.footer-section .about-us-footer a{
    display: block;
}
.about-us-footer{
    float: left;
}
.footer-section .categories-footer a{
    display: block;
}
.categories-footer{
    float: right;
    margin-left: 55px;
}
.footer-section--right{
    float: right;
}
.gallery{
    float: left;
    padding-right: 45px;
}
.gallery h3{
    margin-left: 10px;
}
.gallery table{
    border-spacing: 10px;
}
.gallery table td{
    border: 1px solid #252c3e;
    background-color: #191f2f;
    text-align: center;
    height: 55px;
    width: 53px;
}
.gallery table tr img{
    margin-top: 5px;
    width: 44px;
    height: 41px;
}
.twitter{
    float: right;
}
.twitter a{
    margin-left: 66px;
}
iframe{
    border-radius: 10px;
}
/* Footer */
footer{
    background-color: #040507;
    color: #6a7796;
    padding: 22px 0px 25px 0px;
    font-size: 11px;
    border-top: 1px solid #181f31;
}
.footer-bottom{
    margin: 0;
    height: 10px;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}
.footer-right a{
    text-decoration: none;
    color: #6a7796;
    margin: 5px;
}